*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata
.settings
.classpath
target
.project
test-output
.recommenders
.idea

!chromedriver.exe
!IEDriverServer.exe
!sqljdbc4.jar
!sqljdbc_auth.dll
!javax.mail-1.5.5.jar
screenshots
Framework/development.xml
Framework/src/test/java/onetech/scs/regression/Development.java
Framework/development.xml
Framework/development.xml
Framework/logs/Selenium.log
Framework/screenshot.png
*.container
*.log